# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build output
*.ipa
*.apk
*.aab

# environment variables
.env
.env.*
!.env.example

# macOS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing / coverage
coverage/

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# temp
*.tmp
*.swp
